<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layout/header')  %> 
    <link rel="stylesheet" href="../public/css/style.css"/>
    <title>Document</title>
</head>
<body>
    
    <%- include('layout/navbar')  %> 
    <div class="display-container">
        <h1>Display All Todos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" >Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col" >City</th>
                    <th scope="col">Postalcode</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0;i<data.length;i++){%>
                    <tr>
                        <td>
                            <img src=<%= '/images/'+data[i].image %> alt="Could not load" width="100px">
                        <%= data[i].name %></td>
                        <td><%= data[i].email %></td>
                        <td><%= data[i].phone %></td>
                        <td><%= data[i].city %></td>
                        <td><%= data[i].postalcode %></td>
                        <td>
                            <a href=<%= "/api/deleteUser?id="+data[i]._id %> class="del-link">Delete</a>
                            <a href=<%= "/api/updateUser?id="+data[i]._id %> class="update-link">Update</a>
                        </td>
                    </tr>
                    <% } %> 
            </tbody>
        </table>
    </div>
</body>
</html>